{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/midia.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <style>
      body{
        background-color:#FBFBFB;
      }
      .home {
        
        background: url({% static 'images/background.svg' %}) no-repeat;
        background-size: 100%;
        height: 210vh;
        }
      .quem-somos {
        background:#FBFBFB;
        height: 600px;
        width: 100%;
        margin-top: -35%;
        }
        .servicos {
        background: url({% static 'images/background3.svg' %})no-repeat;
        background-size:100%;
        height: 755px;
        width: 100%;
        justify-content: center;
        }

        .portfolio {
        background: #FBFBFB;
        
        height: 755px;
        width: 100%;

        justify-content: center;
        position: flex;
        margin-left: auto;
        margin-right: auto;
      }
      .port1{
        background: url({% static 'images/ponte-newton-navarro.jpg' %})no-repeat;
        background-size: 100%;
        height: 200px;
      }
      .port2{
        background: url({% static 'images/pontanegra.jpg' %})no-repeat;
        background-size: 100%;
        height: 200px;
      }
      .port3{
        background: url({% static 'images/cajueiro.jpg' %})no-repeat;
        background-size: 100%;
        height: 200px;
      }
      .port4{
        background: url({% static 'images/fortaleza-dos-reis-magos.jpg' %})no-repeat;
        background-size: 100%;
        height: 200px;
      }
     </style>
     <link rel="stylesheet" href="{% static 'css/midia.css' %}" />
    <title>Universitur</title>

  </head>
  <body>
    <div class="home" id="home">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div>
        <a class="logo" href="#home"><img src="{% static 'images/logo.svg' %}"></a>
      </div>
      <div> 
      <button class="navbar-toggler botao-mobile" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" nav-mobile collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav menu">
            <li class="nav-item active">
              <a class="cor-link" href="#home">Início <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="cor-link" href="#sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="cor-link" href="#servicos">Serviços</a>
            </li>
            <li class="nav-item dropdown">
              <a class=" mais cor-link btn-warning dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mais
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#portfolio">Portfólio</a>
                <a class="dropdown-item" href="#clientes-parceiros">Clientes e Parceiros</a>
                <a class="dropdown-item" href="#blog">Blog</a>
                <a class="dropdown-item" href="#contatos">Contato</a>
              </div>
            </li>
          </ul>
        </div> 
        </div>
      </nav>

      <div class="inicio">
        <h1>
          Onde a realização<br />
          do seu <strong>SONHO</strong><br />
          começa!
        </h1>
        <a class="grow" href="#contatos"><img src="{% static 'images/vector1.svg' %}" /></a>
      </div>
    </div>

    <div class="quem-somos" id="sobre">
      <div class="container-fluid">
        <div class="row">
          <div class="quem col-sm-12 col-md-7 col-lg-7">
          <h2>QUEM SOMOS</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          accumsan augue at rhoncus fringilla. jjjjjjjjjjjjjj viverra tempus
          nisl sit amet consectetur. Curabitur facilisis purus vitae quam
          hendrerit, quis tempus mi . Mauris dictum hendrerit lectus in
          vehicula. Suspendisse et dolor enim. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Praesent accumsan augue at rhoncus
          fringilla. Maecenas viverra tempus nisl sit amet consectetur.
          Curabitur facilisis purus vitae quam hendrerit, quis tempus mi
          bibendum. Mauris dictum hendrerit lectus in vehicula. Suspendisse et
          dolor enim.
        </p>
        </div>
        <div class="carrossel col-sm-12 col-md-5 col-lg-5">
        <div class="carr1 ">
        <div>
          <img src="{% static 'images/valores.svg' %}" />
          <h3>VALORES</h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan augue at rhoncus fringilla.  jhygy viverra tempus nisl sit.
          </h4>
        </div>

        <div>
          <img src="{% static 'images/flecha1.svg' %}" />
          <h3>MISSÃO</h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan augue at rhoncus fringilla.  jhygy viverra tempus nisl sit.
          </h4>
        </div>
        <div>
          <img src="{% static 'images/visao.svg' %}" />
          <h3>VISÃO</h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan augue at rhoncus fringilla.  jhygy viverra tempus nisl sit.
          </h4>
        </div>
      </div>
      </div>
      </div>
      </div>
      <img class="setas-decora" src="{% static 'images/setas-decora.svg' %}">
    </div>
    

    <div class="servicos" id="servicos">
      <div class="container">
        <h2>SERVIÇOS</h2>
        
        <div class="row">
          
          <div class="col-sm">
            <img src="{% static 'images/serv1.svg' %}" />
            <h3>Agenciamento<br> de viagens</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              accumsan augue at rhoncus fringilla. jhygyviverra tempus nisl sit.
            </p>
          </div>
          <div class="col-sm">
            <img src="{% static 'images/serv2.svg' %}" />
            <h3>Consultoria<br> Turística</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              accumsan augue at rhoncus fringilla. jhygyviverra tempus nisl sit.
            </p>
          </div>
          <div class="col-sm">
            <img src="{% static 'images/serv3.svg' %}" />
            <h3>Eventos <br>no Geral</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              accumsan augue at rhoncus fringilla. jhygyviverra tempus nisl sit.
            </p>
          </div>
        </div>
      </div>
      
    </div>

    <div class="portfolio" id="portfolio">
      <div class="container">
        <h2>PORTFÓLIO</h2>
        <div class="row port">
          <div class="port1 col-sm-12 col-md-5 col-lg-5">
            <div class="texto">Ponte<br> Newton Navarro</div>
          </div>
          <div class="port2 col-sm-12 col-md-5 col-lg-5">
            <div class="texto">Praia de<br> Ponta Negra</div>
          </div>
          <div class="w-100"></div>
          <div class="port3 col-sm-12 col-md-5 col-lg-5">
            <div class="texto">Cajueiro de<br> Pirangi</div>
          </div>
          <div class="port4 col-sm-12 col-md-5 col-lg-5">
            <div class="texto">Fortaleza dos<br> Reis Magos</div>
          </div>
        </div>
      </div>
      <img class="decora" src="{% static 'images/decora.svg' %}" />
      <img class="decora-port" src="{% static 'images/decora-port.svg' %}">
    </div>

    <div class="clientes-parceiros" id="clientes-parceiros">
      <h2>CLIENTES E PARCEIROS</h2>
      <div class="carr2">
        <div><img src="{% static 'images/cp1.svg' %}"></div>
        <div><img src="{% static 'images/cp2.svg' %}"></div>
        <div><img src="{% static 'images/cp1.svg' %}"></div>
        <div><img src="{% static 'images/cp2.svg' %}"></div>
        <div><img src="{% static 'images/cp1.svg' %}"></div>
        <div><img src="{% static 'images/cp2.svg' %}"></div>
        <div><img src="{% static 'images/cp1.svg' %}"></div>
        <div><img src="{% static 'images/cp2.svg' %}"></div>
        <div><img src="{% static 'images/cp1.svg' %}"></div>
        <div><img src="{% static 'images/cp2.svg' %}"></div>
        
        
        
      </div>
      </div>

      <div class="blog" id="blog">
        <h2>Blog</h2>
        
        <div class="blog-post container">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
              
              <div class="blog1"><img src="{% static 'images/Imagem-Seção-Blog-Bloco01.png' %}" />
                <h3>O QUE NÃO<br> PODE ESQUECER<br> AO VIAJAR</h3>
                <h6>
                  Por Yuri Azevedo
                </h6>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              
              <div class="blog2"><img src="{% static 'images/Imagem-Seção-Blog-Bloco03.png' %}" />
                <h3>3 DICAS ESSENCIAIS<br> PARA VIAJAR</h3>
                
                <h6>
                  Por Yuri Azevedo
                </h6>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
              
              <div class="blog1"><img src="{% static 'images/Imagem-Seção-Blog-Bloco02.png' %}" />
                <h3>10 PRAIAS PARA CONHECER<br> NO RN</h3>
                <h6>
                  Por Yuri Azevedo
                </h6>
              </div>
            </div>
            <a class="grow" href="{% url 'blog' %}">Ver o Blog</a>
      </div>
      



    </div>

    <div class="contatos" id="contatos">
      <div class="container-fluid">
        <div class="row">
          <div class="coluna-contatos col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card-contato">
            <h4>CONTATO</h4>
            
            <div>
              <img class="instagram" src="{% static 'images/instagram.svg' %}">
              <p>@universitur</p>
            </div>
            <div>
              <img class="facebook" src="{% static 'images/facebook.svg' %}">
              <p>/Universitur</p>
            </div>
            <div>
              <img class="local" src="{% static 'images/local.svg' %}">
              <p>NUPEX-UFRN Natal, RN </p>
            </div>
              
            
            
            
            </div>
            <form class="form">
              
    
              
              <input  class="campo-nome" type=" text" placeholder="Nome" name="nome">
    
              
              <input  class="campo-email" placeholder="E-mail" type="email">

              
              <input  class="campo-assunto" placeholder="Assunto" type="email">
    
    
              
              <textarea class="campo-mensagem" placeholder="Mensagem"></textarea>
    
              <input  class="enviar" type="submit" value="ENVIAR">
    
            </form>
          </div>

          <div class=" maps col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7938.268227910688!2d-35.211228275820986!3d-5.836712533083451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sufrn!5e0!3m2!1spt-BR!2sbr!4v1604202173267!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>

      </div>
    </div>




    <div class="footer"><h6>Universitur@EJECT2020</h6></div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
      integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
      crossorigin="anonymous"
    ></script>
    
    <script type="text/javascript" src="{% static 'scripts/carr1.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/carr2.js' %}"></script>
    
  </body>
</html>
