<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/post.css">
    <title>Página do Post</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="home" id="home">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div>
        <a class="logo" href="index.html#home"><img src="images/logo.svg"></a>
      </div>
      <div> 
      <button class="navbar-toggler botao-mobile" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" nav-mobile collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav menu">
            <li class="nav-item active">
              <a class="cor-link" href="index.html#home">Início <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="cor-link" href="index.html#sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="cor-link" href="index.html#servicos">Serviços</a>
            </li>
            <li class="nav-item dropdown">
              <a class=" mais cor-link btn-warning dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mais
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="index.html#portfolio">Portfólio</a>
                <a class="dropdown-item" href="index.html#clientes-parceiros">Clientes e Parceiros</a>
                <a class="dropdown-item" href="index.html#blog">Blog</a>
                <a class="dropdown-item" href="index.html#contatos">Contato</a>
              </div>
            </li>
          </ul>
        </div> 
        </div>
      </nav>
      <div class="blog-home">
        <h1>BLOG</h1>
        <div class="links">
          <a href="index.html">Início</a>>><a href="blog.html">Ver Blog</a>>><a href="post.html">Título do Post</a>
        </div>
      </div>
      <div class="cointainer">
        <div class="row">
          <div class="conteudo col-12 col-sm-12 col-md-12">
        <img src="images/post-image.svg" >
        <h2>TÍTULO DA POSTAGEM</h2>
        <div class="h3">
          <h3>Data Autor</h3>
        </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales aliquet augue, vel dignissim justo consequat ut. Donec sed interdum risus, sit amet sagittis tellus.  Cras non molestie turpis. Maecenas placerat risus turpis, vitae malesuada ante tempus vel. Mauris eleifend consectetur ex, ut ullamcorper mauris feugiat id. Aliquam et mi nulla. Sed at leo dignissim, ultricies diam vel, hendrerit ligula. Vestibulum egestas odio et porttitor pretium. Mauris et mollis velit. Nullam quis libero vitae velit lobortis imperdiet. Duis faucibus felis eros, sit amet feugiat mi vulputate at. Suspendisse placerat, odio quis cursus dapibus, dolor nisi mollis odio, ac molestie quam leo vel eros. Fusce vestibulum  odio at ultrices dictum. Nulla augue neque, varius at congue nec, pulvinar sit amet lectus. Nam nulla ex, pharetra non orci sed, malesuada posuere velit. Suspendisse eget magna a libero scelerisque ullamcorper et id velit.

          Suspendisse eu placerat nisi, nec semper augue. Sed ac hendrerit sapien, sit amet finibus felis. Mauris rhoncus eleifend erat in fringilla. Nam sagittis magna quam, eu tempor dui iaculis in.  Vivamus eu mattis massa, et vtincidunt lorem. Maecenas aliquam enim pulvinar diam ultricies, vitae pharetra nulla congue. Ut velit est, rhoncus id scelerisque vitae, accumsan in eros. Proin at ipsum ut quam consectetur consectetur ut in magna. Vivamus rutrum, nisi eu facilisis elementum, nisl felis sagittis tellus, in congue ipsum metus ut nisl. Praesent aliquet purus magna, in sodales libero scelerisque et. Phasellus ornare diam nec tellus molestie, id egestas risus ornare.
          
          Suspendisse maximus, neque non elementum tincidunt, mi nunc lobortis enim, ut tempus dui ante in neque. Sed pellentesque scelerisque odio ut faucibus. Maecenas nibh lectus, hendrerit sed condimentum sit amet, auctor et turpis. Praesent ullamcorper a diam id molestie. Curabitur iaculis ex a arcu fermentum bibendum. Donec purus ligula, consequat vitae  magna vel, bibendum aliquet velit. In hac habitasse platea dictumst. Proin id ex posuere, malesuada mauris iaculis, facilisis augue. Aenean at lacinia arcu, nec dignissim mauris. Suspendisse volutpat nunc eros, ut sollicitudin arcu lacinia nec. Cras sed sapien vulputate, tempus lacus id, maximus dolor. Vivamus iaculis risus mi, nec pretium sem ultricies ut.</p>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales aliquet augue, vel dignissim justo consequat ut. Donec sed interdum risus, sit amet sagittis tellus.  Cras non molestie turpis. Maecenas placerat risus turpis, vitae malesuada ante tempus vel. Mauris eleifend consectetur ex, ut ullamcorper mauris feugiat id. Aliquam et mi nulla. Sed at leo dignissim, ultricies diam vel, hendrerit ligula. Vestibulum egestas odio et porttitor pretium. Mauris et mollis velit. Nullam quis libero vitae velit lobortis imperdiet. Duis faucibus felis eros, sit amet feugiat mi vulputate at. Suspendisse placerat, odio quis cursus dapibus, dolor nisi mollis odio, ac molestie quam leo vel eros. Fusce vestibulum  odio at ultrices dictum. Nulla augue neque, varius at congue nec, pulvinar sit amet lectus. Nam nulla ex, pharetra non orci sed, malesuada posuere velit. Suspendisse eget magna a libero scelerisque ullamcorper et id velit.

            Suspendisse eu placerat nisi, nec semper augue. Sed ac hendrerit sapien, sit amet finibus felis. Mauris rhoncus eleifend erat in fringilla. Nam sagittis magna quam, eu tempor dui iaculis in.  Vivamus eu mattis massa, et vtincidunt lorem. Maecenas aliquam enim pulvinar diam ultricies, vitae pharetra nulla congue. Ut velit est, rhoncus id scelerisque vitae, accumsan in eros. Proin at ipsum ut quam consectetur consectetur ut in magna. Vivamus rutrum, nisi eu facilisis elementum, nisl felis sagittis tellus, in congue ipsum metus ut nisl. Praesent aliquet purus magna, in sodales libero scelerisque et. Phasellus ornare diam nec tellus molestie, id egestas risus ornare.
            
            Suspendisse maximus, neque non elementum tincidunt, mi nunc lobortis enim, ut tempus dui ante in neque. Sed pellentesque scelerisque odio ut faucibus. Maecenas nibh lectus, hendrerit sed condimentum sit amet, auctor et turpis. Praesent ullamcorper a diam id molestie. Curabitur iaculis ex a arcu fermentum bibendum. Donec purus ligula, consequat vitae  magna vel, bibendum aliquet velit. In hac habitasse platea dictumst. Proin id ex posuere, malesuada mauris iaculis, facilisis augue. Aenean at lacinia arcu, nec dignissim mauris. Suspendisse volutpat nunc eros, ut sollicitudin arcu lacinia nec. Cras sed sapien vulputate, tempus lacus id, maximus dolor. Vivamus iaculis risus mi, nec pretium sem ultricies ut.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales aliquet augue, vel dignissim justo consequat ut. Donec sed interdum risus, sit amet sagittis tellus.  Cras non molestie turpis. Maecenas placerat risus turpis, vitae malesuada ante tempus vel. Mauris eleifend consectetur ex, ut ullamcorper mauris feugiat id. Aliquam et mi nulla. Sed at leo dignissim, ultricies diam vel, hendrerit ligula. Vestibulum egestas odio et porttitor pretium. Mauris et mollis velit. Nullam quis libero vitae velit lobortis imperdiet. Duis faucibus felis eros, sit amet feugiat mi vulputate at. Suspendisse placerat, odio quis cursus dapibus, dolor nisi mollis odio, ac molestie quam leo vel eros. Fusce vestibulum  odio at ultrices dictum. Nulla augue neque, varius at congue nec, pulvinar sit amet lectus. Nam nulla ex, pharetra non orci sed, malesuada posuere velit. Suspendisse eget magna a libero scelerisque ullamcorper et id velit.

              Suspendisse eu placerat nisi, nec semper augue. Sed ac hendrerit sapien, sit amet finibus felis. Mauris rhoncus eleifend erat in fringilla. Nam sagittis magna quam, eu tempor dui iaculis in.  Vivamus eu mattis massa, et vtincidunt lorem. Maecenas aliquam enim pulvinar diam ultricies, vitae pharetra nulla congue. Ut velit est, rhoncus id scelerisque vitae, accumsan in eros. Proin at ipsum ut quam consectetur consectetur ut in magna. Vivamus rutrum, nisi eu facilisis elementum, nisl felis sagittis tellus, in congue ipsum metus ut nisl. Praesent aliquet purus magna, in sodales libero scelerisque et. Phasellus ornare diam nec tellus molestie, id egestas risus ornare.
              
              Suspendisse maximus, neque non elementum tincidunt, mi nunc lobortis enim, ut tempus dui ante in neque. Sed pellentesque scelerisque odio ut faucibus. Maecenas nibh lectus, hendrerit sed condimentum sit amet, auctor et turpis. Praesent ullamcorper a diam id molestie. Curabitur iaculis ex a arcu fermentum bibendum. Donec purus ligula, consequat vitae  magna vel, bibendum aliquet velit. In hac habitasse platea dictumst. Proin id ex posuere, malesuada mauris iaculis, facilisis augue. Aenean at lacinia arcu, nec dignissim mauris. Suspendisse volutpat nunc eros, ut sollicitudin arcu lacinia nec. Cras sed sapien vulputate, tempus lacus id, maximus dolor. Vivamus iaculis risus mi, nec pretium sem ultricies ut.</p>
        
        <div>
          </div>
        </div>
      </div>
      
      
      <div class="footer"><h6>Universitur@EJECT2020</h6></div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>     
</body>


</html>