@media (max-width: 907px) {
    * {
      /*/ align-items: left;
      justify-content: center;
      width: 100%; /*/
    }
    .home {

      width: 100%;
      height: 600px;
      background: none;
      background-color: #263b58 ;
    }
    .home h1 {
      font-size: 20px;
      line-height: 20px;
      justify-content: center;
      align-items: center;
      padding-top:70%;
    }

  
    .logo img{
      width:200px;
      height: auto;
    }

    
    .menu {
      font-size: 10px;
      margin-top: 0px;
      
    }
    .navbar{
      height: 50px;
    }
    .quem{
      border-right:transparent;
    }
  
    .quem-somos {
      width: 100%;
      height: 100%;
      margin-top: -150%;
      
      
      align-items: center;
      background:none;
    }
    .quem-somos h2 {
      font-size: 30px;
      width: 100%;
  
      text-align: center;
     
      padding-top: 520px;
      padding-left: 0;
    }
    .quem-somos p {
      
      width: 100%;
      
      
      font-family: Roboto, Sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
  
      color: #000000;
      margin-right: auto;
      margin-left: auto;
      padding-right: 0;
      align-items:center;
      padding-left: 0;
      width: 100%;
    }
    .servicos {
      
      width: 100%;
      height: 100%;
      background:none;
      background-color: #263b58 ;
    }
    .carr1{
      display: none;
    }
  
    .clientes-parceiros{
      height:500px;
    }
  
    .clientes-parceiros img{
      height: 200px;
      width: 200px;
      
      
    }
    .decora{
      display: none;
    }
    .blog2 h3 {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 42px;
      text-align: center;
      padding-left: 1px;
      padding-right: 1px;
      color: #FAFAFA;
      margin-top: -60%;
      position: relative;
    }
    .blog1 h3 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    color:#FAFAFA;
      
    position: relative;
    margin-top: 0;
    }
    .port {
      padding-left: 0;
      padding-top: 50px;
      
    
    }
    .portfolio{
      height: 1000px;
    }

    .blog1{
      display:none;
    }
    .texto {
      padding-left:0;
      padding-right: 0;
      
      color:#FAFAFA;
      opacity:0;
      transition: opacity .2s linear;
      background-color:rgba(244,169,54,.4);
      background-size: 100%;
      height: 100%;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
    
      color: #FAFAFA;
    
    }
    .card-contato{
      text-align: center;
    }
    .campo-nome{
  
      border: 1px solid#FAFAFA;
      box-sizing: border-box;
      border-radius: 20px;
      width: auto;
      height: 40px;
      background-color: #263b58;
      margin-top :60px;
      margin-left: -37px;
    }
    .campo-email{
      border: 1px solid #FAFAFA;
      box-sizing: border-box;
      border-radius: 20px;
      width: auto;
      height: 40px;
      background-color: #263b58;
      
    }
    .campo-assunto{
      border: 1px solid #FAFAFA;
      box-sizing: border-box;
      border-radius: 20px;
      width: auto;
      height: 40px;
      background-color: #263b58;
    }
    
    .campo-mensagem{
      width: auto;
      height: 80px;
      
      background-color: #263b58;
      border: 1px solid #FAFAFA;
      box-sizing: border-box;
      border-radius: 20px;
    }
    .form{
      width: auto;
      height: 375px;
      margin-top: -50px;
      top: 323px;
      
      border: 1px solid #FAFAFA;
      box-sizing: border-box;
      border-radius: 20px;
      margin-left: 0;
      margin-right: 10px;
    
      
      
      
    }
    .card-contato{
      background: #F4A936;
      border: 1px solid #FAFAFA;
      box-sizing: border-box;
      border-radius: 20px;
      width: 200px;
      height: 200px;
      margin: 41px 0 0 50px;
      text-align: center;
      padding-top:50px;
      
      
      
    }
    .enviar{
    background-color: #F4A936;
    padding:10px;
    color: #FAFAFA;
    border-radius: 20px;
    margin-top:25px;
    margin-left: 10px;
    
    font-size: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    }
    .setas-decora{
      display: none;
    }
    .decora-port{
      display: none;
    }
    .card-contato {
      padding-top: 0;
      
      
    }
    .card-contato h4 {
      font-family: Roboto, Sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 42px;
      text-align: center;
      padding-top: 0;
    
      color: #FAFAFA;
    }
    .instagram{
      padding-left: 10px;
      padding-right:0;
      float: left;
      height: 20px;
      width:auto;
    }
    .card-contato p{
      padding-top: 0;
      font-family: Roboto,Sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 35px;
    
      color: #FAFAFA;
    }
    .facebook{
      padding-left: 10px;
      padding-right:0;
      float: left;
      padding-top: 0;
      height: 20px;
      width:auto;
    }
    
    .local{
      padding-left: 10px;
      padding-right:0;
      float: left;
      padding-top: 0;
      height: 20px;
      width:auto;
    }
    
    
  
}
